header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
}


.links li {
  float:left;}
.links a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}
.links {
  list-style-type: none; /* Removes bullets */
  margin: 0;
  padding: 0;
}
.boxes{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 50px;
 }

.title{
  display: flex;
  align-items: center;
  justify-content: center;
matgin-bottom: 1px;}

.links article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 }

.s1 { display: flex;
  justify-content: center;
    flex-direction: column;
       align-items: center;
     padding-top:30px;
    }

article{ display: flex;
  justify-content: center;
    flex-direction: column;
       align-items: center;
       border: 1px solid lightgrey;}
  
footer{
display: flex;
justify-content: center;
background-color: black;
color: white;
align-items: center;
}

img{
margin-bottom:15px;
margin-left:10px;
margin-right:10px;
}
h2{
  margin:1px;
}
p{
margin: 1px;
}
.about{
  margin-bottom:1px}

