header{
  display: flex;
  justify-content: space-between;
  allign-items: center;
}

.links {
 display: flex;
  justify-content:space-between; 
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;}
